* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
    }


.signup-form {
  background: url("/basketball.jpg");
  background-size: cover;
  height: 736px;
  margin: 0;
  padding: 0;
}

.signup {
  border: 1px solid transparent;
  width: 100%;
  margin-top: 40%;
  background-color: white;
  box-shadow: 3px 3px 5px 2px #ccc;
  height: 300px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

button {
  margin: 5px;
  border: 1px solid black;
  width: 90%;
  height: 40px;
  background-color: #F5F5F5;
  color: gray;
}

input {
  width: 90%;
  height: 50px;
  border: 1px solid;
}

.header {
  margin-top:20px;
  margin-bottom: 30px;
}

body, html {
    margin: 0;
    overflow: hidden;
}
